.footer{
    height: 500px;
    padding-top: 300px;
    
}

@media screen and (max-width: 1024px){
    .footer{
        position: relative;
        bottom: 600px;
        left: 30px;
    }
    
    }

@media screen and (max-width: 425px){
    .footer{
        position: relative;
        top: 3700px;
        left: 110px;
    }
        
    }
